
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4; /* Slight background color change for contrast */
}
header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    text-decoration:none;
}
a{
    color:#fff;
    text-decoration:none;
}

.nav-left, .nav-right a {
    color: #fff ;
    text-decoration: none;
    padding: 10px;
}

.nav-right {
    display: flex;
}
main {
    padding: 20px;
    display: flex;
    justify-content: center; /* Center the form in the main area */
}
form {
    border: 1px solid #ddd; /* Add a border around the form */
    border-radius: 5px; /* Optional: adds rounded corners to the form box */
    padding: 20px;
    background-color: #fff; /* Background color for the form */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: adds a subtle shadow around the form */
    width: 100%;
    max-width: 400px; /* Set a max-width for the form */
}
form label {
    margin-top: 10px;
}
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%; /* Make input fields take up 100% of form width */
    box-sizing: border-box; /* Ensures padding doesn't affect overall width */
}
form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    width: 100%; /* Make the button take up the full width of the form */
}
form button:hover {
    opacity: 0.8;
}
#login{
    color:blue;
}
.details-container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    font-family: 'Arial', sans-serif;
  }

  .detail-item {
    margin-bottom: 10px;
  }

  .label {
    font-weight: bold;
    color: #333;
    margin-right: 5px;
  }

  .detail-item span {
    font-size: 16px;
    color: #555;
  }
